.content{
  background: #161616;
  position: relative;
  padding: 2vw 0;

}
.content::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
  height: 2.5vw;
  width: 2.5vw;
  outline: none;
  border: none;
  border-radius: 50%;
  background: url('../../../assets/images/arrow-left-white.png');
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 6vw;
  right: 10vw;
}
.content::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  height: 2.5vw;
  width: 2.5vw;
  outline: none;
  border: none;
  border-radius: 50%;
  background: url('../../../assets/images/arrow-right-white.png');
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 6vw;
  right: 5vw;
}
.content  h1{
  color: white;
  font-size: 4vw;
  padding: 3vw 0 0 4vw;
}
.card-details{
  margin: 1.5vw;
}
.card-text{
  // height: 50%;
  font-size: 1.5vw;
  // overflow: hidden;
  // height: 60%;

}

p-carousel{
  display: block; 
  margin: 0 2.5vw;

  // flex-direction: row;

}

.image-container{
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: .5vw;
  padding: 10px;
}
.image-container img{
  width: 100%;
}
// .image-container img{
//   width: 100%;
//   height: 100%;
// }
.width{
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: .5vw;
}
