<div class="content-container">
    <div class="content">
        <div class="details">
            <h1>gallery & achievements</h1>
        </div>
        <div class="card-container">
            <div class="row">
                <div class="col-md-4">1st</div>
                <div class="col-md-4">2nd</div>
                <div class="col-md-4">3rd</div>
            </div>
            <div class="row">
                <div class="col-md-4">4th</div>
                <div class="col-md-4">5th</div>
                <div class="col-md-4">6th</div>
            </div>
            <div class="row">
                <div class="col-md-4">7th</div>
                <div class="col-md-4">8th</div>
                <div class="col-md-4">9th</div>
            </div>
            <!-- <img src="assets/images/init-card.png" alt=""> -->
            <!-- <img src={{e.about_picture}} alt=""> -->
        </div>
    </div>
</div>