<app-navbar></app-navbar>
<div class="team">
    <img src="../../assets/images/TEAM 2022-23.png" alt="">
</div>
<div class="content">
    <div class="body">
 
        <div>
            
        <div class="main-bod">
            <h1 class="col-10">FOR COMPETITION AND MENTORING RELATED QUERIES</h1>
            <div class="criteria col-10">
            <div class="col-3">
                <span class="text-overlay"></span>
                <span class="grad-overlay"></span>
                <div class="name">
                    <h3>Aryan Agarwal</h3>
                    <h3 id="full-name">Events and PR Head</h3>
                </div>
                <div class="social-icons">
                        <div><a href="http://www.linkedin.com/in/aryanagarwal14" target="_blank"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a></div>
                        <div><a href="https://wa.me/918299209478" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a></div>
                        <div><a href="mailto:aryan@ecell.in" target="_blank"><i class="fa fa-envelope fa-2xl"></i></a></div>
                </div>
                <img src="https://eureka2022.s3.ap-south-1.amazonaws.com/contact/aryan.webp">
            </div>
            <div class="col-3">
                <span class="text-overlay"></span>
                <span class="grad-overlay"></span>
                <div class="name">
                    <h3>Bhavit Gupta</h3>
                    <h3 id="full-name">Events and PR Head</h3>
                </div>
                <div class="social-icons">
                        <div><a href="https://www.linkedin.com/in/bhavitgupta" target="_blank"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a></div>
                        <div><a href="https://wa.me/917723057913" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a></div>
                        <div><a href="mailto:bhavit@ecell.in" target="_blank"><i class="fa fa-envelope fa-2xl"></i></a></div>
                </div>
                <img src="https://eureka2022.s3.ap-south-1.amazonaws.com/contact/bhavit.webp">
            </div>
            <div class="col-3">
                <span class="text-overlay"></span>
                <span class="grad-overlay"></span>
                <div class="name">
                    <h3>Disha Lalwani</h3>
                    <h3 id="full-name">Corporate Relations Head</h3>
                </div>
                <div class="social-icons">
                        <div><a href="https://www.linkedin.com/in/disha-lalwani-3b47b3200" target="_blank"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a></div>
                        <div><a href="https://wa.me/918879565160" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a></div>
                        <div><a href="mailto:disha@ecell.in" target="_blank"><i class="fa fa-envelope fa-2xl"></i></a></div>
                </div>
                <img src="https://eureka2022.s3.ap-south-1.amazonaws.com/contact/disha.webp">
            </div>
            </div>
            <h1 class="col-10">FOR SPONSORSHIP QUERIES</h1>
            <div class="criteria col-10">
            <div class="col-3">
                <span class="text-overlay"></span>
                <span class="grad-overlay"></span>
                <div class="name">
                    <h3>Ashwin Maheshwari</h3>
                    <h3 id="full-name">Marketing Head</h3>
                </div>
                <div class="social-icons">
                        <div><a href="https://www.linkedin.com/in/ashwin-maheshwari-766baa206" target="_blank"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a></div>
                        <div><a href="https://wa.me/919407272901" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a></div>
                        <div><a href="mailto:ashwin@ecell.in" target="_blank"><i class="fa fa-envelope fa-2xl"></i></a></div>
                </div>
                <img src="https://eureka2022.s3.ap-south-1.amazonaws.com/contact/ashwin.webp">
            </div>
            <div class="col-3">
                <span class="text-overlay"></span>
                <span class="grad-overlay"></span>
                <div class="name">
                    <h3>Saarthak  Mittal</h3>
                    <h3 id="full-name">Marketing Head</h3>
                </div>
                <div class="social-icons">
                        <div><a href="https://www.linkedin.com/in/saarthak-mittal-b9a0aa203" target="_blank"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a></div>
                        <div><a href="https://wa.me/917389927242" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a></div>
                        <div><a href="mailto:saarthak@ecell.in" target="_blank"><i class="fa fa-envelope fa-2xl"></i></a></div>
                </div>
                <img src="https://eureka2022.s3.ap-south-1.amazonaws.com/contact/saarthak.webp">
            </div>
            <div class="col-3">
                <span class="text-overlay"></span>
                <span class="grad-overlay"></span>
                <div class="name">
                    <h3>Tushar Bhati</h3>
                    <h3 id="full-name">Marketing Head</h3>
                </div>
                <div class="social-icons">
                        <div><a href="https://www.linkedin.com/in/tushar-bhati-1321aa201" target="_blank"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a></div>
                        <div><a href="https://wa.me/918690490981" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a></div>
                        <div><a href="mailto:tushar@ecell.in" target="_blank"><i class="fa fa-envelope fa-2xl"></i></a></div>
                </div>
                <img src="https://eureka2022.s3.ap-south-1.amazonaws.com/contact/bhati.webp">
            </div>
            </div>
            <h1 class="col-10">FOR PORTAL AND MEDIA QUERIES</h1>
            <div class="criteria col-10">
            <!-- <div class="portal">
                <h1 class="col-10">FOR PORTAL RELATED QUERIES</h1>
                <div class="portal-inner"> -->
                <div class="col-3">
                    <span class="text-overlay"></span>
                    <span class="grad-overlay"></span>
                    <div class="name">
                        <h3>Abhay Arya</h3>
                        <h3 id="full-name">Web and Technical Head</h3>
                    </div>
                    <div class="social-icons">
                            <div><a href="https://www.linkedin.com/in/abhay-arya-aa4ab0206" target="_blank"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a></div>
                            <div><a href="https://wa.me/916265171605" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a></div>
                            <div><a href="mailto:abhay@ecell.in" target="_blank"><i class="fa fa-envelope fa-2xl"></i></a></div>
                    </div>
                    <img src="https://eureka2022.s3.ap-south-1.amazonaws.com/contact/abhay.jpeg">
                </div>
                <div class="col-3">
                    <span class="text-overlay"></span>
                    <span class="grad-overlay"></span>
                    <div class="name">
                        <h3>Nikunj Shah</h3>
                        <h3 id="full-name">Design Head</h3>
                    </div>
                    <div class="social-icons">
                            <div><a href="https://in.linkedin.com/in/nikunj-shah-13a002204" target="_blank"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a></div>
                            <div><a href="https://wa.me/918668932327" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a></div>
                            <div><a href="mailto:nikunjshah@ecell.in" target="_blank"><i class="fa fa-envelope fa-2xl"></i></a></div>
                    </div>
                    <img src="https://eureka2022.s3.ap-south-1.amazonaws.com/contact/nikunj.webp">
                </div>
                <!-- </div>
            </div> -->
            <!-- <div class="media-gade">
            <h1 class="col-10">FOR MEDIA QUERIES</h1> -->
            <div class="col-3">
                <span class="text-overlay"></span>
                <span class="grad-overlay"></span>
                <div class="name">
                    <h3>Atharw Gade</h3>
                    <h3 id="full-name">Media Head</h3>
                </div>
                <div class="social-icons">
                        <div><a href="https://www.linkedin.com/in/atharwa-gade" target="_blank"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a></div>
                        <div><a href="https://wa.me/918698227953" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a></div>
                        <div><a href="mailto:atharwa@ecell.in" target="_blank"><i class="fa fa-envelope fa-2xl"></i></a></div>
                </div>
                <img src="https://eureka2022.s3.ap-south-1.amazonaws.com/contact/gamde.webp">
            </div>
            <!-- </div> -->
            </div>
            <!-- <svg role="none" height="350">
                <mask id="circle">
                    <circle fill="white" cx="100" cy="100" r="100"></circle>
                </mask>
                <linearGradient id="mygradient">
                    <stop offset="38.89%" stop-color="#ffffff"></stop>
                    <stop offset="138.89%" stop-color="rgba(217, 217, 217, 0)"></stop>
                </linearGradient>
                <g mask="url(#circle)">
                    <image x="-20%" y="-26%" height="100%" width="100%" xlink:href="assets/images/contact.jpg"
                    ></image>
                </g>
                <g>
                    <text x="4%" y="65%">Aryan Agrawal</text>
                    <text x="4%" y="70%">Events and PR Manager</text>
                </g>
            </svg> -->
            
            
        </div>
        <!-- <div class="modal fade" id="bs-example-modal-lg" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Hello
                    </div>
                </div>
            
            </div>
        </div>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#bs-example-modal-lg">Large modal</button> -->
                
        
        </div>
</div>
<app-footer></app-footer>