*{
    margin: 0;
    padding: 0;
}
.team{
    width: 100%;
    padding: 6vw 0;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team img{
    width: 60%;
}