<div class="content-container">
    <div class="content">
        <div class="social">
            <h1>join our newsletter to stay <br> updated on our initiatives</h1>
            <div class="email">
                <input type="text" placeholder="Your Email id">
                <a href="#">
                    <i class="bi bi-arrow-right-circle-fill"></i>
                </a>
            </div>

            <div class="icons">
                <h3>social</h3>
                <a class="first" href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-youtube"></i></a>

            </div>
        </div>
        <div class="initiatives">
            <h1>initiatives</h1>
            <ul>
                <li><a href="#">E-Summit</a></li>
                <li><a href="#">Eureka!</a></li>
                <li><a href="#">Eureka! Junior</a></li>
                <li><a href="#">NEC</a></li>
                <li><a href="#">CA</a></li>
                <li><a href="#">SSP</a></li>
                <li><a href="#">Aanya</a></li>
                <li><a href="#">Enspace</a></li>
            </ul>
        </div>
        <div class="contact">
            <h1>contact us</h1>
            <div class="contact-content">
                <div class="item">
                    <h2>For Sponsorship Queries</h2>
                    <h3>marketing@ecell.in</h3>
                </div>
                <div class="item">
                    <h2>For Media Queries</h2>
                    <h3>media@ecell.in</h3>
                </div>
                <div class="item">
                    <h2>For General Queries</h2>
                    <h3>admin@ecell.in</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="special">
        <p>
            creating job creators
        </p>
    </div>
</div>