<div class="content-container">
    <div class="content">
        <img src="../../../assets/images/header-text.png" alt="">
    </div>
    <div class="image">
        <div class="img">
            <img src="https://images.unsplash.com/photo-1518895949257-7621c3c786d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80" alt="">
        </div>
        <a class="scroll">
            <p>scroll down</p>
            <i class="bi bi-arrow-down-circle"></i>
        </a>
    </div>
</div>