<app-navbar></app-navbar>
<div class="main-body">
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <div class="body-text">
                <div class="divison"><h1 class="text">ENACT.</h1></div> <br>
                <div class="divison"><h1 class="text">EVOLVE.</h1></div> <br>
                <div class="divison"><h1 class="text">ENVISION.</h1></div> <br>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="images">
                <div class="image-sec">sir</div>
                <div class="button">
                    <h3 style="color: white">Scroll-Down</h3>
                    <button class="btn-scroll"><mat-icon aria-hidden="false" aria-label="Example arrow icon">arrow_downward</mat-icon></button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="other-body">
    <h1 class="Ecellheading">WHAT IS E-CELL IIT BOMBAY?</h1>
    <div class="content">ContentContentContentContentContentContentContentContentContentContentContent</div>
    <h1 class="Ecellheading">OUR INITIATIVES</h1>
    <div>
        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Know More</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
<div class="gallery">
    <h1 class="galleryhead">Gallery & Achievements</h1>
</div>
<div class="contactus">
    <h1 class="galleryhead">Contact US</h1>
</div>