*{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
}
.nav-col{
    background: #161616;
}
.main-logo{
    height: 3.5vw;
}
.active{
    font-size: 2vw;
}

// .bi{
//     font-size: 6vw;
// }