<div class="content-container">
    <div *ngFor="let e of li;" class="content">
        <div class="details">
            <h1>what is e-cell iit bombay?</h1>
            <div class="card-details">
                <div class="item">
                    {{e.about_text}}
                </div>
            </div>
        </div>
        <div class="card-container">
            <!-- <img src="assets/images/init-card.png" alt=""> -->
            <img src={{e.about_picture}} alt="">
        </div>
    </div>
    <div class="caraousel">
        <app-caraousel></app-caraousel>
    </div>
</div>
